body {
    font-family: "Roboto", sans-serif;
    color:#434455 ;
    background-color: #ffffff;
    /* box-sizing: border-box; */
}

a {
    text-decoration: none;
}

 ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6,p {
   margin-top: 0;
   margin-bottom: 0; 
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   overflow: hidden;
}

.container {
   width: 1158px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

/* header */

.header-container {
   display: flex;
}

.header-navigation {
   display: flex;
   align-items: center;
}

.header-navigation-menu {
   display: flex;
   gap: 40px;
}

.header-address-list {
   display: flex;
   gap: 40px;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-logo-studio {
    color: #2E2F42;
    margin-right: 76px;
}

.header-navigation-list {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-style: normal;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;

}

.header-navigation-list:hover,
.header-navigation-list:focus {
   color: #404BBF;
}

.header-address {
font-style: normal;
margin-left: auto;
}

.address-list {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    display: inline-block;
    padding-top: 24px;
    padding-bottom: 24px;
}

.address-list:hover,
.address-list:focus {
    color: #404BBF;
}

/* HERO */

.hero {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
 }

 .hero-button {
    font-family: inherit;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    display: block;
 }


 .hero-button:hover,
 .hero-button:focus {
   background-color: #404BBF;
 }
 
 /* FEATURES */

.features {
   padding-top: 120px;
   padding-bottom: 120px;
}

.features-list {
   display: flex;
   gap: 24px;
}

 .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
 }

 .features-item {
 width: calc((100% - 3 * 24px) / 4);
 }

 .features-item-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
 }

/* TEAM */
 
.team {
   background-color: #F4F4FD;
   padding-top: 120px;
   padding-bottom: 120px;
}

.team-list {
   display: flex;
   gap: 24px;
}

 .team-title {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
 }

 .team-people {
   background-color: #FFFFFF;
   width: calc((100% - 3 * 24px) / 4);
 }

 .team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
 }

 .team-subtitle-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 32px;
 }

/* PORTFOLIO */

.portfolio {
   padding-top: 120px;
   padding-bottom: 120px;
}

.portfolio-service {
   border-bottom: 1px solid #E7E9FC;
   border-left: 1px solid #E7E9FC;
   border-right: 1px solid #E7E9FC;
   width: calc((100% - 2 * 24px) / 3);
}

.portfolio-list {
   display: flex;
   flex-wrap: wrap;
   /* gap: 48px 24px; */
   column-gap: 24px;
   row-gap: 48px;
}

 .portfolio-title {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
 }

 .portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    margin-top: 32px;
    margin-left: 16px;
 }

 .portfolio-subtitle-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: 16px;
 }

 /* FOOTER */

 .footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
 .footer-logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
   font-weight: 700;
    color: #4D5AE5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }

 .footer-logo-studio {
    color: #F4F4FD;
 }

 .footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    margin-top: 16px;
    max-width: 264px;
 }
